# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
/.idea
/data
/out
/old
/lib/poi-4.1.2/docs
/lib/cplex/examples
/lib/cplex/excel
/lib/cplex/include
/lib/cplex/matlab
/lib/cplex/python
*.xlsx
*.iml
*.txt