# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file


# Package Files #


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
.idea
/data
/out
/old
/lib/poi-4.1.2/docs
/cplex/examples
/cplex/excel
/cplex/include
/cplex/matlab
/cplex/python