@font-face {
    font-family: Gandom;
    src: url('/company/resource/Gandom-FD.ttf');
}

.root {
    -fx-font-family: "Gandom";
    -fx-font-size: 12;
    -jfx-primary-color: #d24726;
    -jfx-light-primary-color: #f0623e;
    -jfx-dark-primary-color: #b83d1f;
    /*-fx-focus-color: rgb(222, 49, 15);*/
    -jfx-secondary-color: #26b0d2;
    -jfx-light-secondary-color: #e2f7fe;
    -jfx-dark-secondary-color: #056471;
    -fx-button : #b0d226;
    -fx-background-color: -jfx-light-secondary-color;
}

/*!********************************************************************************/
/**                                                                             **/
/** JFX Tab Pane                                                                **/
/**                                                                             **/
.jfx-tab-pane .headers-region {
    -fx-background-color: -jfx-primary-color;
    -fx-focus-color: -jfx-light-primary-color;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: -jfx-primary-color;
}

.jfx-tab-pane .tab-selected-line {
    -fx-stroke: -jfx-secondary-color;

}

.jfx-tab-pane .tab .tab-label {
    -fx-font-family: "Gandom";
    -fx-font-size: 12.5;
}

.jfx-tab-pane .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: -jfx-light-secondary-color;
}

.tab-selected-line {
    -fx-background-color: -jfx-secondary-color;
}

/*******************************************************************************!*/

.jfx-button {
    -jfx-button-type: RAISED;
    -fx-background-color:-fx-button;
    -fx-text-fill: #000000;
}

.text-area {
    -fx-accent: rgb(100, 178, 234);
    -fx-font-family: "Gandom";
    -fx-font-size: 12;
    -fx-background-color: #ffffff;

    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-insets: 0;
    -fx-border-radius: 2;
    -fx-border-color: #0e5006;
}

.button {
    -fx-font-family: "Gandom";
    -fx-font-size: 12;
    -fx-pref-width: 120;
    -fx-text-alignment: center;
}

.text-field {
    -fx-accent: rgb(100, 178, 234);
    -fx-min-height: 30;
    -fx-max-height: 30;
}

GridPane {
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: #0e5006;
}

.tooltip {
    -fx-background: rgba(100, 122, 177, 0.72);
    -fx-text-fill: white;
    -fx-background-color: rgba(31, 116, 177, 0.72);
    -fx-background-radius: 6px;
    -fx-background-insets: 0;
    -fx-padding: 0.667em 0.75em 0.667em 0.75em; /* 10px */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0.0, 0, 3);
    -fx-font-size: 0.85em;
    -fx-alignment: baseline-left;
}

/* Styling the slider track */
.jfx-slider > .track {
    -fx-background-color: -jfx-dark-secondary-color;
}

/* Styling the slider thumb */
.jfx-slider > .thumb {
    -fx-background-color: -jfx-secondary-color;
}

/* Styling the filled track */
.jfx-slider > .colored-track {
    -fx-background-color: -jfx-dark-secondary-color;
}

/* Styling the animated thumb */
.jfx-slider > .animated-thumb {
    -fx-background-color: -jfx-secondary-color;
}

.progress-bar{
    -fx-pref-width: 400;
    -fx-accent: -jfx-dark-secondary-color;
}

.tree-table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, -fx-control-inner-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-text-fill: -fx-text-inner-color;

}
.tree-table-row-cell:selected {
    -fx-background-color: -jfx-light-secondary-color, -jfx-light-secondary-color, -jfx-light-secondary-color;
    -fx-background-insets: 0, 1, 2;

}

.tree-table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, derive(-fx-control-inner-background,-5%);
    -fx-background-insets: 0, 0 0 1 0;

}

.tree-table-row-cell:selected:odd {
    -fx-background-color: -jfx-light-secondary-color, -jfx-light-secondary-color, -jfx-light-secondary-color;
    -fx-background-insets: 0, 1, 2;

}

.tree-table-cell {
    -fx-font-size: 12;
    -fx-alignment: center ;
    -fx-border-color: Black;
    -fx-border-style: solid;
}

.tree-table-view .column-header-background {
    -fx-background-color: -jfx-secondary-color;
}
.tree-table-view .column-header {
    -fx-border-color: -jfx-dark-secondary-color;
    -fx-background-color: -jfx-secondary-color;
}

.tree-table-view .column-header .label {
    -fx-text-fill: Black;
    -fx-font-weight: bold;
}